@font-face {
  font-family: "MuseoSans";
  src: url(../fonts/museosans-100.ttf);
  font-weight: 100;
}
@font-face {
 font-family: "MuseoSans";
 src: url(../fonts/museosans-300.ttf);
 font-weight: 300;
}
@font-face {
  font-family: "MuseoSans";
  src: url(../fonts/museosans-500.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "MuseoSans";
  src: url(../fonts/museosans-700.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "MuseoSans";
  src: url(../fonts/museosans-900.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "MuseoSansRounded";
  src: url(../fonts/MuseoSans/MuseoSansRounded-100.otf);
  font-weight: 100;
}
@font-face {
 font-family: "MuseoSansRounded";
 src: url(../fonts/MuseoSans/MuseoSansRounded-300.otf);
 font-weight: 300;
}
@font-face {
  font-family: "MuseoSansRounded";
  src: url(../fonts/MuseoSans/MuseoSansRounded-500.otf);
  font-weight: 500;
}
@font-face {
  font-family: "MuseoSansRounded";
  src: url(../fonts/MuseoSans/MuseoSansRounded-700.otf);
  font-weight: 700;
}
@font-face {
  font-family: "MuseoSansRounded";
  src: url(../fonts/MuseoSans/MuseoSansRounded-900.otf);
  font-weight: 900;
}
@font-face {
  font-family: "MuseoSansRounded";
  src: url(../fonts/MuseoSans/MuseoSansRounded-1000.otf);
  font-weight: 1000;
}
.tt{
  text-transform: uppercase;
}
.tac{
  text-align: center;
}
.font1{
  font-family: "MuseoSans";
}

.font2{
  font-family: "MuseoSansRounded";
}
.fw100{
  font-weight: 100;
}
.fw300{
  font-weight: 300;
}
.fw500{
  font-weight: 500;
}
.fw700{
  font-weight: 700;
}
.fw900{
  font-weight: 900;
}
.fw1000{
  font-weight: 1000;
}
