*{
  margin: 0;
  user-select: none;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body{
  background-attachment: fixed;
  -webkit-background-size: 110%;
  overflow: hidden;
  background-size: 110%;
  background-image: url(../img/backgroundimg.png);
}
.menubutton{
  width: 135px;
  height: 45px;
  -webkit-background-size: contain;
  background-size: contain;
  cursor: pointer;
  background-image: url(../img/citaralogo2.png);
  position: fixed;
  right: 40px;
  top: 50px;
}
.mousepop{
  width: 76px;
  height: 76px;
  position: fixed;
  left: calc(50% - 38px);
  border-radius: 50%;
  bottom: 40px;
  z-index: 30;
  cursor: pointer;
  background-color: #fff;
  -webkit-box-shadow: -1.22px 13.947px 29px 0px rgba(0, 0, 0, 0.15);
  box-shadow: -1.22px 13.947px 29px 0px rgba(0, 0, 0, 0.15);
}
.mousebody{
  width: 28px;
  height: 43px;
  border-radius: 20px;
  margin: 12px auto;
  border: solid 3px #12b37c;
}
.scrollwhell{
  height: 6px;
  width: 0;
  border-radius: 3px;
  border: solid 3px #12b37c;
  margin: 10px auto;
  -webkit-animation: mymove 1s infinite ease-in-out; /* Safari 4.0 - 8.0 */
  animation: mymove 1s infinite ease-in-out;
}
@keyframes mymove {
    0% {
      margin-top: 10px;
    }
    25% {
      margin-top: 13px;
    }
    50 {
      margin-top: 10px;
    }
    75%{
      margin-top: 8px;
    }
    100% {
      margin-top: 10px;
    }
}
.balls{
  width: 15px;
  position: fixed;
  right: 40px;
  z-index: 20;
  top: calc(50% - 137px);
}
.ball{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  cursor: pointer;
}
.ball .text{
  width: 150px;
  margin-left: -170px;
  margin-top: -3px;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease
}
.ball:hover .text{
  color: #222;
  opacity: 1;
  visibility: visible;
}
.ball.screenactive .text{
  opacity: 1;
  visibility: visible;
}
.home .ball{
  border: solid 2px #000;
}
.home .ball.active{
  background-color: #000;
  cursor: pointer;
}
.prod .ball{
  border: solid 2px #fff;
}
.prod .ball.screenactive{
  background-color: #fff;
  cursor: pointer;
}
.line{
  height: 50px;
  margin: 0 auto;
  width: 2px;
}
.home .line{
  background-color: #000;
}
.prod .line{
  background-color: #fff;
}
.socialmedia{
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.share{
  background-image: url(../img/share.png);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 18px;
  background-size: 18px;
  margin-left: 30px;
  float: right;
  cursor: pointer;
}
.insta{
  background-image: url(../img/insta.png);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position:  center;
  -webkit-background-size: 18px;
  margin-left: 30px;
  background-size: 18px;
  float: right;
  cursor: pointer;
}
.face{
  background-image: url(../img/face.png);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  margin-left: 30px;
  background-position: center;
  float: right;
  cursor: pointer;
}
.lateral-menu{
  bottom: 0;
  top: 0;
  width: 80px;
  position: fixed;
  background-color: #fff;
  z-index: 1123;
}
.lateral-menu ul li{
  list-style: none;
  background-position: center;
  background-repeat: no-repeat;
  height: 12.5vh;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}
.main{
  -webkit-background-size: 65px;
  background-size: 65px;
}
.lateral-menu ul .main:hover{
  -webkit-box-shadow: inset 5px 0px 0px #00bb93;
  box-shadow: inset 5px 0px 0px #00bb93;
}

.lateral-menu ul .main.active{
  -webkit-box-shadow: inset 5px 0px 0px #00bb93;
  box-shadow: inset 5px 0px 0px #00bb93;
}
.citarahiw{
  -webkit-background-size: 50px;
  background-size: 50px;
}
.lateral-menu ul .citarahiw:hover{
  -webkit-box-shadow: inset 5px 0px 0px #fa8d33;
  box-shadow: inset 5px 0px 0px #fa8d33;
}
.lateral-menu ul .citarahiw.active{
  -webkit-box-shadow: inset 5px 0px 0px #fa8d33;
  box-shadow: inset 5px 0px 0px #fa8d33;
}
.productsmenu{
  -webkit-background-size: 68px;
  background-size: 68px;
}
.lateral-menu ul .productsmenu:hover{
  -webkit-box-shadow: inset 5px 0px 0px #6500ba;
  box-shadow: inset 5px 0px 0px #6500ba;
}
.lateral-menu ul .productsmenu.active{
  -webkit-box-shadow: inset 5px 0px 0px #6500ba;
  box-shadow: inset 5px 0px 0px #6500ba;
}
.contact{
  -webkit-background-size: 60px;
  background-size: 60px;
}
.lateral-menu ul .contact:hover{
  -webkit-box-shadow: inset 5px 0px 0px #088ea7;
  box-shadow: inset 5px 0px 0px #088ea7;
}
.lateral-menu ul .contact.active{
  -webkit-box-shadow: inset 5px 0px 0px #088ea7;
  box-shadow: inset 5px 0px 0px #088ea7;
}
.teamembers{
  -webkit-background-size: 60px;
  background-size: 60px;
}
.lateral-menu ul .teamembers:hover{
  -webkit-box-shadow: inset 5px 0px 0px #444;
  box-shadow: inset 5px 0px 0px #444;
}
.lateral-menu ul .teamembers.active{
  -webkit-box-shadow: inset 5px 0px 0px #444;
  box-shadow: inset 5px 0px 0px #444;
}
.ctralogo{
  background-image: url(../img/citaralogo2.png);
  width: 135px;
  height: 45px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  -webkit-background-size: contain;
  z-index: 20000;
  background-size: contain;
}
.hero{
  height: 100vh;
  width: calc(100% - 80px);
  margin-left: 80px;
}
.herocontent{
  margin-left: 150px;
  padding-top: calc(50vh - 90px);
}
.herosubtitle{
  width: 166px;
  padding-left: 12px;
  font-size: 12px;
  height: 19px;
  margin-bottom: 12px;
  padding-top: 6px;
  background-color: #000;
  color: #fff;
  font-family: Arial;
  font-weight: Bold;
}
.titleimg{
  background-image: url(../img/citaraheader.png);
  width: 465px;
  background-repeat: no-repeat;
  height: 75px;
  margin-bottom: 20px;
}
.herosub{
  font-size: 20px;
  color: rgba(109, 109, 109, 0.722);
  line-height: 1.2;
  max-width: 470px;
  text-align: left;
}
.hiw{
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 80px);
  padding-top: 90px;
  padding-left: 150px;
  margin-left: 80px;
}
.titlesections {
  font-size: 64px;
  color: rgb(50, 50, 50);
  position: relative;
  line-height: 0.488;
  margin-bottom: 35px;
}
.subtitle{
  padding-right: 40px;
  max-width: 496px;
  font-size: 15px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "Museo Sans";
  color: #555;
  margin-left: 5px;
  line-height: 1.2;
  text-align: left;
}
.notebook{
  margin-top: 50px;
  background-image: url(../img/notebook.png);
  position: relative;
  height: 360px;
  background-repeat: no-repeat;
  padding-top: 26px;
  background-position: right 122px top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cards{
  margin-right: 250px;
}
.card {
  border-width: 1px;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  background-color: rgb(248, 248, 248);
  width: 212px;
  margin-right: -1px;
  float: right;
  cursor: pointer;
  height: 291px;
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out, height 0.4s ease-in-out;
}
.number {
  font-size: 91px;
  margin: 10px 0 0px 20px;
  font-family: "Museo Sans";
  color: rgba(87, 169, 141, 0.6);
  line-height: 1.2;
  text-align: left;
  transition: color 0.2s ease;
  height: 90px;
}
.titlehiw{
  font-size: 12px;
  font-family: "Museo Sans";
  color: rgba(37, 99, 80, 0.651);
  text-transform: uppercase;
  line-height: 2.9;
  text-align: left;
  margin-left: 20px;
}
.hiwdesc{
  margin-left: 20px;
  font-size: 14px;
  display: block;
  color: rgb(148, 148, 148);
  line-height: 1.571;
  width: 194px;
  text-align: left;
}
.ctp {
  font-size: 14px;
  margin-left: 20px;
  margin-top: 12px;
  visibility: hidden;
  opacity: 0;
  font-family: "Museo Sans";
  color: rgb(57, 148, 125);
  line-height: 1.571;
  text-align: left;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.card:hover{
    border-width: 1px;
    border-color: rgb(228, 228, 228);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 301px;
    height: 300px;
    padding-top: 16px;
    margin-top: -13px;
    -webkit-box-shadow: -22px 0px 26px -13px rgba(0, 0, 0, 0.2);
    box-shadow: -22px 0px 26px -13px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: relative;
}
.card:hover .number{
  color: #379376;
}
.card:hover .hiwdesc{
  width: 194px;
  color: #949494;
}
.card:hover .ctp{
  opacity: 1;
  visibility: visible;
}
.products{
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 80px);
  padding-top: 50px;
  padding-left: 150px;
  margin-left: 80px;
}
.subject{
  margin-left: 34px;
  width: 175px;
  height: 30px;
  -webkit-box-shadow: 0px 5px 0px #240060;
  box-shadow: 0px 5px 0px #240060;
  padding-left: 15px;
  margin-bottom: 10px;
  padding-top: 15px;
  cursor: pointer;
  background-color: #470da8;
  transition: margin-left 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  color: #fff;
}
.titlesections{
  margin-bottom: 30px;
}
.smartenergy{
  background-image: url(../img/smartproduct.png);
  transition: background-image 0.2s ease;
}
.smartenergy:hover{
  background-image: url(../img/smarthover.png);
}
.smartwater{
  background-image: url(../img/smartwater.png);
  transition: background-image 0.2s ease;
}
.smartwater:hover{
  background-image: url(../img/smartwaterhover.png);
}
.smartaccess{
  background-image: url(../img/smartaccess.png);
  transition: background-image 0.2s ease;
}
.smartaccess:hover{
  background-image: url(../img/smartaccesshover.png);
}
.retorna{
  background-image: url(../img/retorna.png);
  transition: background-image 0.2s ease;
}
.retorna:hover{
  background-image: url(../img/retornahover.png);
}
.easyodonto{
  background-image: url(../img/easyodont.png);
  transition: background-image 0.2s ease;
}
.easyodonto:hover{
  background-image: url(../img/easyodonthover.png);
}
.devmind{
  background-position: top left !important;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url(../img/devmind.png);
  transition: background-image 0.2s ease;
}
.devmind:hover{
  background-image: url(../img/devmindhover.png);
}
.retorna .subject{
  background-color: #49d485;
  -webkit-box-shadow: 0px 5px 0px #339e62;
  box-shadow: 0px 5px 0px #339e62;
}
.devmind .subject, .easyodonto .subject {
    background-color: #d8721e;
    -webkit-box-shadow: 0px 5px 0px #bf5d27;
    box-shadow: 0px 5px 0px #bf5d27;
}
.product:hover{
  margin-left: 20px;
}
.product:hover .subject{
  -webkit-box-shadow: 0px 5px 0px #0f0f0f;
  box-shadow: 0px 5px 0px #0f0f0f;
  background-color: #1c1c1c;
  margin-left: 50px;
}
.product:hover .producttitle{
  margin-left: 50px;
}
.product{
  width: 755px;
  height: 176px;
  cursor: pointer;
  padding-top: 40px;
  transition: margin-left 0.2s ease;
  background-position: center;
  margin-bottom: 22px;
  box-shadow: 0px 0px 14.88px 1.12px rgba(0, 0, 0, 0.16);
}
.producttitle{
  font-size: 42px;
  margin-left: 34px;
  transition: margin-left 0.2s ease;
  font-family: "Museo Sans";
  word-break: break-all;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.366;
  text-align: left;
}
.showbtn{
  background-image: -moz-linear-gradient( 90deg, rgb(34,34,34) 0%, rgb(0,0,0) 97%);
  background-image: -webkit-linear-gradient( 90deg, rgb(34,34,34) 0%, rgb(0,0,0) 97%);
  background-image: -ms-linear-gradient( 90deg, rgb(34,34,34) 0%, rgb(0,0,0) 97%);
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.34);
  width: 137px;
  cursor: pointer;
  height: 29px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 11px;
}
.testimonials{
  background-color: #1d2122;
  height: 100vh;
  padding-top: 181px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 80px);
  padding-left: 150px;
  margin-left: 80px;
  background-position: center;
  background-image: url(../img/testimonials2.png);
}
.avatar{
  width: 218px;
  position: relative;
  height: 273px;
  background-image: url(../img/avatar.png);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 27px 0px rgba(0, 0, 0, 0.32);
}
.names{
  background-color: #1d2122;
  width: 151px;
  height: 44px;
  margin: 210px -1px 20px auto;
}
.membername{
  color: #fff;
  text-align: right;
  padding-right: 10px;
  padding-top: 6px;
  font-size: 16px;
}
.memberposition{
  color: #efefef;
  text-align: right;
  padding-right: 10px;
  font-size: 11px;
}
.usertestimonial{
  height: 271px;
  width: 635px;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  border-style: solid;
  margin-top: -180px;
  margin-left: 133px;
}
.usermajor{
  font-size: 63px;
  font-family: "Museo Sans";
  color: rgb(231, 235, 235);
  line-height: 0.903;
  text-align: left;
  margin-left: 133px;
  margin-top: -61px;
}
.userquote {
  font-size: 13px;
  margin-left: 133px;
  margin-right: 10px;
  color: rgb(231, 235, 235);
  line-height: 1.875;
  text-align: left;
}

.directional{
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.5);
  width: 203px;
  height: 41px;
  border-width: 1px;
  border-color: rgb(191, 191, 191);
  border-style: solid;
  background-color: #1d2122;
  margin: 20px 50px 0px auto;
}
.directional div{
  float: left;
  color: #cdcdcd;
  cursor: pointer;
}
.prev{
  width: 75px;
  height: 100%;
  border-right: solid 1px rgb(191, 191, 191);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 13px;
}
.next{
  width: 125px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 13px;
}
.contactsection{
  height: 100vh;
  padding-top: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 80px);
  padding-left: 150px;
  margin-left: 80px;
}
.subtitlecontact{
  font-size: 25px;
  font-family: "Museo Sans";
  color: #0da877;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.contact{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
}
.contactitem{
  width: 50%;
  margin-bottom: 40px;
}
.contactitemtitle{
  font-size: 18px;
  font-family: "Museo Sans";
  color: rgb(28, 32, 33);
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 1.167;
}

.contactinfo{
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 11px 12.35px 0.65px rgba(0, 0, 0, 0.22);
  width: 267px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  font-size: 16px;
  padding-left: 15px;
  height: 43px;
}
.ball.screenactive{
  background-color: #000;
}
.home{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
  height: 0px;
  overflow-x: hidden;
}
.prod{
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity 0.4s ease;
  background-color: #470da8;
  background-image: url(../img/bgprod.png);
  background-repeat: no-repeat;
  overflow-x: hidden;
  margin-left: 80px;
  height: 0px;
  position: relative;
  background-position: 900px 130px;
}
.activepage{
  height: auto;
  min-height: 100vh;
  display: block;
  visibility: visible;
  opacity: 1;
}
.headerprod{
  height: 100vh;
}
.headersubtitle{
  width: 166px;
  padding-left: 12px;
  font-size: 12px;
  height: 19px;
  margin-bottom: 12px;
  padding-top: 6px;
  background-color: #fff;
  color: #470da8;
  font-family: Arial;
  font-weight: Bold;
}
.smartheader{
  width: 530px;
  height: 75px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.headersub{
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  max-width: 570px;
  text-align: left;
}
.prodinfo{
  margin-left: 150px;
  margin-top: 20px;
}
.prodeae{
  position: relative;
}
.product{
  display: none;
}
.product:nth-child(1){
  display: block;
}
.product:nth-child(2){
  display: block;
}
.prodinfo .ballhr{
  height: 22px;
  float: left;
  width: 22px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  border: solid 2px #fff;
}
.ballhr.active{
  background-color: #fff;
}
.ballhr.active .tinytext, .ballhr.active .tinytext2{
  opacity: 0.8;
  visibility: visible;
}
.option{
  position: absolute;
  top: 50px;
  left: 0px;
  width: 150px;
  color: #fff;
}
.option2{
  position: absolute;
  top: 50px;
  right: 0px;
  font-size: 19px;
  text-align: right;
  width: 150px;
  color: #fff;
}
.option2{
  font-size: 19px;
  position: absolute;
  top: 50px;
  right: 0px;
  text-align: right;
  width: 150px;
  color: #fff;
}
.tinytext{
  width: 420px;
  font-size: 14px;
  color: #efefef;
  position: absolute;
  top: 80px;
  display: block;
  visibility: hidden;
  transition: opacity 0.3s ease;
  opacity: 0;
  left: 0;
}
.scrollabe .home #productscreen{
    overflow-y: scroll;
    padding-bottom: 20px;
}
.scrollabe .home #productscreen .product{
  display: block;
}
.tinytext2{
  width: 420px;
  font-size: 14px;
  color: #efefef;
  position: absolute;
  top: 80px;
  display: block;
  text-align: right;
  visibility: hidden;
  transition: opacity 0.3s ease;
  opacity: 0;
  right: 0;
}
.hline{
  border: solid 1px #fff;
  width: calc(43% - 40px);
  float: left;
  margin-top: 10px;
}
.testimonal{
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}
.testimonal.active{
  visibility: visible;
  height: auto;
  overflow: visible;
  opacity: 1;
}
@media (max-width: 1129px) {
  body{
    overflow-y: visible !important;
  }
  .scrollabe .home .testimonials{
    overflow-y: visible;
}
  .ctralogo {
    background-image: url(../img/citaralogo2.png);
    width: 135px;
    height: 45px;
    position: absolute;
    bottom: 20px;
    left: 90px;
    -webkit-background-size: contain;
    -webkit-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
    z-index: 20000;
    background-size: contain;
  }
  .lateral-menu{
    left: -80px;
    -webkit-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
  }
  .lateral-menu.activemenu{
    left: 0px;
  }
  .lateral-menu.activemenu .ctralogo{
    left: 10px;
  }
  .prod{
    margin-left: 0;
  }
  .hiw, .products, .testimonials, .hero, .contactsection{
    margin-left: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-bottom: 20px;
    position: relative;
  }

  .testimonal{
    transform: translate(0, -50%);
    top: 50%;
    position: absolute;
  }
  .notebook{
    background-image: none;
    height: auto;
  }
  .card{
    float: left;
    width: 90%;
    opacity: 0.6;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  }
  .hiwdesc{
    width: 70% !important;
    padding-right: 10px;
  }
  .card:hover{
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
    opacity: 1;
    width: 90%;
  }
  .cards {
    margin-right: 0px;
  }
}
@media (max-width: 1050px) {
}
@media (max-width: 987px) {
  .product{
    width: 90%;
  }
}
@media(max-width: 780px){
  .lateral-responsive-menu{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: -25px;
    position: fixed;
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-image: url(../img/menuresponsive.png);
    margin-top: -25px;
    top: 50%;
    z-index: 129381203;
  }
  .tinytext {
    width: 800%;
  }
  .tinytext2 {
    width: 1000%;
  }
  .prodinfo {
      margin-left: 50px;
  }
  .option, .option2{
    display: none;
  }
  .active .option, .active .option2{
    display: block;
    }
  .prodeae .product {
    margin-top: 180px;
    margin-left: 50px;
    width: 80%;
  }
  .testimonal{
    left: 0;
  }
  .subject {
    border-radius: 2px;
    margin-top: 0;
    margin-left: 20px;
    width: 175px;
    height: 28px;
    -webkit-box-shadow: 0px 5px 0px transparent;
    box-shadow: 0px 5px 0px transparent;
    padding-left: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    background-color: #F44336;
    transition: margin-left 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    color: #fff;
  }
  .herocontent {
    margin-left: 50px;
    padding-top: calc(50vh - 60px);
  }
  .producttitle {
    font-size: 42px;
    line-height: 44px;
    margin-right: 20px;
  }
  .titleimg {
    background-image: url(../img/citaraheader.png);
    max-width: 465px;
    background-repeat: no-repeat;
    height: 45px;
    margin-bottom: 20px;
    width: 100%;
    background-size: contain;
  }
  .titlesections {
    font-size: 49px;
    line-height: 40px;
  }
  .usertestimonial {
    margin: 0 auto;
    height: 271px;
    width: 100%;
    border-style: none;
    margin-top: 88px;
    /* margin-left: 0px; */
  }
  .balls{
    display: none;
  }
  .socialmedia{
    z-index: 129380912;
    bottom: 20px;
  }
  .mousepop{
    display: none !important;
    bottom: 10px;
  }
  .ctralogo{
    bottom: 10px;
  }

  .avatar{
    margin: 0 auto;
  }
  .userquote {
      padding: 0 5px;
      margin: 0 auto;
      text-align: center;
      padding: 0 5px;
      max-width: 521px;
      margin-top: 20px;
      font-size: 13px;
      /* margin-left: 0px; */
      /* margin-right: 69px; */
      /* text-align: justify; */
  }
  .directional {
      margin: 20px auto;
  }
  .product {
    width: 90%;
  }
  .testimonials {
    background-color: #1d2122;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 181px 0px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .usermajor {
      font-size: 45px;
      margin: 0 auto;
      font-family: "Museo Sans";
      color: rgb(231, 235, 235);
      line-height: 0.903;
      text-align: center;
      /* margin-left: 133px; */
      margin-top: -61px;
  }
  .ctcttitle{
    font-size: 25px;
  }
  .contactitem {
    width: 100%;
    margin-bottom: 40px;
  }
  .hiw, .products, .contactsection{
    padding-left: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 550px) {
  .smartheader {
      width: 300px;
      height: 40px;
    }  
}
@media (max-width: 380px) { 
  .titlesections {
      font-size: 27px;
      line-height: 27px;
  }
}
@media (max-width: 330px) {
  .userquote{
    padding: 0 20px;
  }
  .testimonials{
    padding-left: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .hiw, .products, .contactsection{
    padding-left: 25px;
    padding-bottom: 50px;
  }
  .herocontent{
    margin-left: 25px;
  }
}